
.titulo{
    color:rgb(12, 108, 251);
    font-size: 50px;
    border-width: 0.3em;
    border-style: dashed;
    border-color: rgb(3, 132, 61);
    text-align: center;
    background-color: blueviolet;
}


.subtitulo{
    color: whitesmoke;
    font-size: 25px;
    background-color: #333;
    border-width: 0.2em;
    border-style: double;
    border-color: rgb(196, 157, 157);
}
.menu{
    list-style:none;
    padding:0;
    background: #092327;    
    width: 90%;
    max-width: 1000px;
    margin: auto;
}

.menu li a{
    text-decoration: none;
    color: white;
    padding: 20px;
    display: block;
}

.menu li{
    display: inline-block;
    text-align: center;
}

.menu li a:hover{
    background: #ef8354;
}

#bienvenidos h2{
    text-align: center;
    background: green;
}

h4{
    color: aliceblue;
    background-color: rgb(20,18,18);
    border-width: 1em;
    border-style: groove;
    border-color: rgba(219, 141, 154, 0.012);
    text-align: center;

}

#juegosportada .contenedor{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

#juegosportada article{
    margin: 15px;
}

#juegosportada img{
    width: 100%;
    max-width: 500px;
}

.logo1{
    width: 100px;
    height: 100px;
    position: fixed;
    left: 1420px;
    top: 22px;
}
